<main class="main">
  <div class="outer-content">
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="inner-content">
      <app-angular-logo></app-angular-logo>
      <h2>Hello, {{ title }}</h2>
      <h3>Angular unit testing exercise.</h3>
      <p class="body-text">Congratulations! Your app is running.</p>
      <app-counter></app-counter>
      <app-framework-list></app-framework-list>
      <app-async-demo></app-async-demo>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
  </div>
</main>
<router-outlet />
